body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    padding: 15px;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
}

/* PAGE TITLE */
.page-title {
    text-align: center;
    margin: 20px;
}

/* COMPANY CARDS */
.company-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content:left;
    flex-wrap: wrap;
}

.company-card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: justify;
   
}

.company-card img {
    width: 120px;
    height: 75px;
    margin-bottom: 20px;
     display: center;
}

/* STATUS */
.status {
    font-weight: bold;
}

.upcoming {
    color: green;
}

.completed {
    color: red;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* CHATBOT */
.chatbot {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 190px;
    background-color:white;
    padding: 10px;
    border-radius: 10px;
   
}
.chatbot img {
    width: 30px;
    height: 25px;
    margin-bottom: 20px;
     display: right;
}

#chatOutput {
    height: 80px;
    overflow-y: auto;
    background: white;
    padding: 5px;
    margin-bottom: 5px;
}
/* CHATBOT ICON */
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}

.chatbot-icon img {
    width: 40px;
    height: 40px;
}

/* CHATBOT WINDOW */
.chatbot-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    display: none; /* hidden initially */
    flex-direction: column;
}

/* HEADER */
.chatbot-header {
    background: #2c3e50;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-header button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* BODY */
.chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f4f6f8;
}

/* INPUT */
.chatbot-input {
    display: flex;
    padding: 10px;
    gap: 5px;
}

.chatbot-input input {
    flex: 1;
    padding: 8px;
}

